<link rel="stylesheet" href="/modules/addons/namesrs_price/css/styles.css">
<!--  comment lines at label tags should not be removed in order to keep the design appropriate -->
<div class="steps" data-steps="3">
     <label class="labelClass">
        <span>STEP 1 - FETCH PRICES</span>
        <i></i>
     </label><!--
     --><label>
        <span>STEP 2 - IMPORT PRICES</span>
        <i></i>
     </label>
  </div>
<br><br>
<div class="container_step1">
    <div>
        <h2>Import NameSRS pricelist</h2>
        <form action="addonmodules.php?module=namesrs_price" method="POST" style="text-align: center;">
            <input type="submit" class="btn btn-primary" name="cmdFetch" value="Load">
        </form>
    </div>
</div>
